{% extends "index.html" %}

{% block title %} Signup Page {% endblock %}

{% block content %}

    <div class="card-wrapper">
        <div class="card">
        
            <h1 id="account-creation"> Create an account </h1>

                <form name="signup-form">

                    <div class="info">
                        <label for="name">Username</label>
                        <input type="text" name="name" class="field" required>    
                    </div>

                    <div class="info">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="field" required>
                    </div>

                    
                    <div class="info" id="last-info">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="field" required>
                    </div>   
                    
                    <div class="info">
                        <input type="submit" value="Sign Up" class="btn" id='signup-button'>
                    </div>
                </form>
        
        </div>
        <h4 class="error-message">There was something wrong with your registration. Please try again!</h4>
    </div>



{% endblock %}